$violet: hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $violet;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 3rem 3rem;
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &__logo {
        margin-bottom: 4rem;
        text-align: left;
        img {
            width: 40%;
        }
    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__title {
        margin: 4rem 0 2rem 0;
        color: white;
        font-size: 2.2rem;
    }

    &__description {
        color: whitesmoke;
        font-size: 1.6rem;
        line-height: 1.6;
    }

    &__btn-register {
        margin: 2.5rem 0 7rem 0;
        padding: 1.5rem 3rem;
        width: 70%;
        font-family: 'Poppins', sans-serif;
        border: none;
        color: $violet;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: $softMagenta;
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: $softMagenta;
        }
    }

    &__icon {
        font-size: 1.8rem;
    }
}




@import './media'